* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #78accd;
    overflow: hidden;
}

.whole {
    background-color: #ffffff;
    height: 25.5rem;
    width: 24rem;
    margin: 9rem auto;
}

.head1 {
    display: flex;
    place-items: center;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px #e2e2e2 solid;
}

.p1 {
    color: #8f98a3;
    margin-left: 1rem;
}

.p2 {
    color: #8f98a3;
    margin-left: 10rem;
}

.head2,
.head3 {
    display: flex;
    place-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.h1 {
    color: #808c98;
    font-size: 0.8rem;
    font-weight: bolder;
}

.p3 {
    color: #e7e6e6;
    font-size: smaller;
}

.p4 {
    color: black;
    font-size: smaller;
}

.p5 {
    font-size: smaller;
    background-color: #de6e46;
    border-radius: 50%;
    padding: 0.5rem 0.75rem;
    color: white;
}

.p6 {
    font-size: smaller;
    border: #de6e46 0.15rem solid;
    border-radius: 50%;
    padding: 0.4rem 0.4rem;
}

.p7 {
    font-size: smaller;
    border: #b05e8c 0.15rem solid;
    padding: 0.4rem 0.4rem;
    border-radius: 50%;
}

.head4 {
    display: flex;
    place-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    border-bottom: 1px #e2e2e2 solid;
    padding-bottom: 1.6rem;
}

.img1 {
    border-radius: 50%;
    padding: 0.1rem 0.1rem;
    border: #de6e46 0.15rem solid;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

.p8 {
    font-size: smaller;
    font-weight: bold;
    color: #808c98;
}

.head5 {
    display: flex;
    place-items: center;
    place-content: space-around;
    margin-top: 1rem;
}